/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-blue);
$accent: mat-palette($mat-grey);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);